
.sign-in-card{
    border-radius: 6px !important;
    min-width: 400px;
    border:1px solid #ccc;box-shadow:3px 3px 3px #999;border-radius: 2px;
}
.sign-in-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}
.w-full{
    width: 100%;
  }

  .logo{
    max-width: 100px;
    max-height: 100px;
  }
